.PhotoSearch {
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 349px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}

div {
    display: block;
}

.PhotoSearch .input_wrapper {
    background: #f6f6f6;
    padding: 8px;
    border-bottom: 1px solid #e2e2e2;
}

.PhotoSearch .input_wrapper input {
    width: calc(100% - 72px - 8px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 8px;
    margin-right: 8px;
}

input[type=text],
input[type=password],
input[type=number] {
    padding: 3px 5px;
    height: 15px;
    width: 150px;
}

input[type=text],
input[type=number],
input[type=password],
textarea,
.fake_editor,
.qtext_editor_content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 27px;
    background: #fff;
    outline: 0;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(200, 200, 200, 0.3);
    -webkit-transition: border-color .2s;
    transition: border-color .2s;
    -webkit-transition: border-color .2s 180ms ease-in-out 0s;
    -o-transition: border-color .2s 180ms ease-in-out 0s;
    transition: border-color .2s 180ms ease-in-out 0s;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.PhotoSearch .input_wrapper .upload_link {
    font-weight: 500;
    color: #999;
}

a {
    text-decoration: none;
    color: #2b6dad;
}

.PhotoSearch .photo_container {
    height: 280px;
    overflow-y: scroll;
}

.PhotoSearch .photo_container .photo_container_inner {
    -webkit-columns: 8px 3;
    -moz-columns: 8px 3;
    columns: 8px 3;
    padding: 8px 8px;
}

.PhotoSearch .photo_container .photo_container_inner .empty_state {
    position: absolute;
    width: 90%;
    margin-top: 110px;
}

.empty_state {
    color: #999;
    text-align: center;
    margin-top: 64px;
}

.PhotoSearch .photo_container .photo_container_inner .empty_state .bing_attribution {
    position: absolute;
    top: 128px;
    right: 0;
    font-size: 11px;
    color: #ccc;
    margin-top: 4px;
    line-height: 16px;
    padding-right: 48px;
    background-image: url(//qsf.ec.quoracdn.net/-3-images.icons.bing.svg-26-9b7f031b891ade2b.svg);
    background-size: 40px 16px;
    background-repeat: no-repeat;
    background-position: center right;
}

.hidden {
    display: none;
}

.modal_overlay.feed_desktop_modal .modal_wrapper .LoadingDots {
    left: 0;
}

.PhotoSearch .photo_container .photo_container_inner .LoadingDots {
    position: absolute;
    top: calc(50% - 10px);
}

.LoadingDots.regular {
    margin: 16px auto;
}

.LoadingDots {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    min-width: 36px;
}

.PhotoSearch .photo_container .photo_container_inner {
    -webkit-columns: 8px 3;
    -moz-columns: 8px 3;
    columns: 8px 3;
    padding: 8px 8px;
}

.PhotoSearch .photo_container .photo_container_inner .empty_state {
    position: absolute;
    width: 90%;
    margin-top: 110px;
}

.empty_state {
    color: #999;
    text-align: center;
    margin-top: 64px;
}

.PhotoSearch .photo_container .photo_container_inner img {
    display: block;
    width: 100px;
    height: auto;
    padding-bottom: 8px;
}

img {
    animation-duration: 0.001s;
    animation-name: insQ_101;
    -webkit-animation-duration: 0.001s;
    -webkit-animation-name: insQ_101;
}

img {
    border: 0;
}

.image {
    width: 32px;
    height: 30px;
}

.glyphicon {
    top: 2px;
    right: 3px;
    color: #999;
    cursor: pointer;
}

.selectedImage {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 8 */
    filter: alpha(opacity=50);
    /* IE 5-7 */
    -moz-opacity: 0.5;
    /* Netscape */
    -khtml-opacity: 0.5;
    /* Safari 1.x */
    opacity: 0.5;
}