<br />
<br />
<br />
<form [formGroup]="userForm" class="form-horizontal" (ngSubmit)="submit()">
    <div class="form-group">
        <label class="col-sm-2 control-label">Select Category</label>
        <div class="col-sm-4">
            <div class="input-group input-group-sm">
                <app-user-post-category formControlName="category" ngControl="category"></app-user-post-category>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            <div class="input-group input-group-sm">
                <input [name]="userForm.controls.name" type="text" class="input-sm form-control" ngControl="name" placeholder="Name" formControlName="name" maxlength="30" aria-describedby="sizing-addon1" style="width: 340px;height: 30px;" required/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Rating</label>
        <div class="col-sm-4" style="padding-top: 10px;">
            <div class="input-group input-group-sm">
                <app-user-rating formControlName="rate" ngControl="rate"></app-user-rating>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Write Review</label>
        <div class="col-sm-4">
            <div class="input-group input-group-sm">
                <textarea [name]="userForm.controls.review" class="input-sm form-control" ngControl="review" placeholder="Write your review here" formControlName="review" rows="30" style="width: 340px;height: 50px;" required></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Upload Images</label>
        <div class="col-sm-4">
            <div class="input-group input-group-sm">
                <div class="modifier" id="" (click)="show(image)"><img src="../../../assets/images/search_img.png" class="image" /></div>
                <app-user-post-image formControlName="imageUrl" ngControl="imageUrl" [ngStyle]="{'display': visible ? 'block' : 'none'}" (click)="onchange($event)"></app-user-post-image>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Uploaded Image</label>
        <div class="col-sm-4">
            <div class="input-group input-group-sm" *ngFor="let image of images">
                <img [src]="image" style="width: 500px;padding-top: 10px;" />
            </div>
        </div>
    </div>
    <div class="form-group" style="padding-top: 10px;">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="Save" class=".btn-primary">Submit</button>
            <button type="reset" value="Reset" class=".btn-warning" (click)="reset()">Reset</button>
        </div>
    </div>
</form>