.userFeeds {
    width: 650px;
    margin-top: 20px;
    margin-left: 50px;
    background: #f4f4f4;
}

.feedHeader {
    width: 650px;
    height: 60px;
    border: 0.5px solid lightgrey;
    border-bottom: hidden;
}

.feedContent {
    width: 650px;
    border: 0.5px solid lightgrey;
    border-top: hidden;
    border-bottom: hidden;
}

.feedFooter {
    width: 650px;
    height: 40px;
    border: 0.5px solid lightgrey;
    background-color: white;
}

.likeButton {
    display: inline;
    padding: 0 10px 0 10px;
    color: grey;
}

.shareButton {
    display: inline;
    padding: 0 10px 0 10px;
}

.commentButton {
    display: inline;
    padding: 0 10px 0 10px;
}

.recommendButton {
    display: inline;
    padding: 0 10px 0 10px;
}

.likeButton a {
    margin-top: 7px;
}

.feed-container-theme .feed-s-post-meta {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 16px 16px 8px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.Sans-13px-black-55\% {
    font-weight: 400;
    color: rgba(0, 0, 0, .55);
    font-size: 13px;
}

.feed-container-theme .feed-s-post-meta__actor-link {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.feed-container-theme .tap-target,
.feed-container-theme a.disabled {
    color: inherit;
    font-weight: initial;
    text-decoration: none;
}

a[href],
button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a:visited {
    color: #827be9;
}

a {
    font-weight: 700;
    background-color: transparent;
    border: 0;
    color: #0084bf;
}

a {
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

a,
ins {
    text-decoration: none;
}

a,
hr {
    padding: 0;
}

*,
 :after,
 :before {
    box-sizing: inherit;
}

user agent stylesheet a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

.feed-container-theme .tap-target,
.feed-container-theme a.disabled {
    color: inherit;
    font-weight: initial;
    text-decoration: none;
}

a[href],
button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a:visited {
    color: #827be9;
}

.feed-s-post-meta__profile-link {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    margin-left: 8px;
    overflow: hidden;
}

.Sans-17px-black-85\%-semibold {
    line-height: 24px;
    font-size: 17px;
}

.Sans-17px-black-85\%-semibold,
.Sans-17px-black-85\%-semibold-dense {
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif, Hiragino Kaku Gothic Pro, Meiryo, Hiragino Sans GB W3, Noto Naskh Arabic, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, Noto Sans Thai, Thonburi, Dokchampa, Droid Sans Thai, Droid Sans Fallback, -apple-system, '.SFNSDisplay-Regular', Heiti SC, Microsoft Yahei, Segoe UI;
    font-weight: 600;
    color: rgba(0, 0, 0, .85);
}

a {
    font-weight: 700;
    background-color: transparent;
    border: 0;
    color: #0084bf;
}

a {
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

a,
ins {
    text-decoration: none;
}

a,
hr {
    padding: 0;
}

*,
 :after,
 :before {
    box-sizing: inherit;
}

user agent stylesheet a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

.feed-s-avatar-image {
    overflow: hidden;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.b0 {
    border: 0;
}

.EntityPhoto-circle-3 {
    border: 2px solid transparent;
    border-radius: 49.9%;
}

.EntityPhoto-circle-3,
.EntityPhoto-circle-3-ghost-person,
.EntityPhoto-circle-3-ghost-person-stackedFacepile {
    background-clip: content-box;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
}

.feed-s-avatar-image img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    max-height: 100%;
    max-width: 100%;
}

.feed-container-theme .tap-target,
.feed-container-theme a.disabled {
    color: inherit;
    font-weight: initial;
    text-decoration: none;
}

a[href],
button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a:visited {
    color: #827be9;
}

.feed-s-post-meta__profile-link {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    margin-left: 8px;
    overflow: hidden;
}

.Sans-17px-black-85\%-semibold {
    line-height: 24px;
    font-size: 17px;
}

.Sans-17px-black-85\%-semibold,
.Sans-17px-black-85\%-semibold-dense {
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif, Hiragino Kaku Gothic Pro, Meiryo, Hiragino Sans GB W3, Noto Naskh Arabic, Droid Arabic Naskh, Geeza Pro, Simplified Arabic, Noto Sans Thai, Thonburi, Dokchampa, Droid Sans Thai, Droid Sans Fallback, -apple-system, '.SFNSDisplay-Regular', Heiti SC, Microsoft Yahei, Segoe UI;
    font-weight: 600;
    color: rgba(0, 0, 0, .85);
}

a {
    font-weight: 700;
    background-color: transparent;
    border: 0;
    color: #0084bf;
}

a {
    margin: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}