<div class="userFeeds">
    <div class="feedHeader">
        <div id="ember2680" class="feed-s-post-meta Sans-13px-black-55% feed-s-post-meta--is-not-sponsored ember-view">
            <a data-control-name="actor_picture" href="/in/khaihann-ng-67b344122/" id="ember2681" class="tap-target feed-s-post-meta__actor-link ember-view">
                <div id="ember2682" class="feed-s-avatar-image b0 member EntityPhoto-circle-3 ember-view">
                    <img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAfsAAAAJDY0MGE2ZTQ4LWI1YWItNDk0Zi05NTM3LTlhNjBlMjZkNDI0Mw.jpg" class="avatar member" alt="Khaihann Ng" />
                </div>
            </a>
            <!--
            <a data-control-name="actor" href="/in/khaihann-ng-67b344122/" id="ember2683" class="feed-s-post-meta__profile-link Sans-17px-black-85%-semibold tap-target ember-view">
                <h3 class="feed-s-post-meta__actor Sans-13px-black-55%">
                    <span class="feed-s-post-meta__name Sans-15px-black-85%-semibold hoverable-link-text">Khaihann Ng</span>
                    <span class="feed-s-post-meta__headline Sans-13px-black-55%">
        Research Consultant at Hunters International Sdn Bhd
      </span>
                    <time class="feed-s-post-meta__timestamp">6d</time>
                    <span class="feed-s-post-meta__edited Sans-13px-black-55%">Edited</span>
                </h3>
            </a> -->
        </div>
    </div>
    <div class="feedContent">
        <p>content and image here</p>
    </div>
    <div class="feedFooter">
        <div class="likeButton">
            <a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
        </div>
        <div class="commentButton">
            <a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-comment"></span> Comment</a>
        </div>
        <div class="shareButton">
            <a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-share-alt"></span> Share</a>
        </div>
        <div class="recommendButton">
            <a href="#" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-user"></span> Recommend</a>
        </div>
    </div>
</div>
<!--<app-user-feeds></app-user-feeds> -->