<nav class="navbar navbar-default navbar-fixed-top topnav">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="#">
                    <img src="../../../assets/images/logo.png" alt="logo" class="logoimg">
                </a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a routerLink="/feeds" routerLinkActive="active-nav">Feeds</a></li>
                <li><a routerLink="/user" routerLinkActive="active-nav">User Profile</a></li>
            </ul>
        </div>
    </div>
</nav>